h1 {
  text-align: center;
}

#emptyImg {
  text-align: center;
  display: none;
}

#refer {
  margin: 0 auto;
  text-align: center;
}

#calendarBlock {
  text-align: center;
}

#calendar {
  display: inline-block;
}

#calendarBlock button{
  display: none;
}

/* #calendarBlock{
  background-color: khaki;
  text-align: center;
}

#calendarBlock button{
  display: block;
  float: right;
  margin-right: 5vw;
} */

.imgGroup {
  margin: 0 auto;
  height: 130px;
  width: 90vw;
  white-space: nowrap;
  /* white-space: nowrap; -> 해당하는 요소의 줄바꿈 x */
  overflow-x: scroll;
  display: none;
}

div img{
  height: 100px;
  width: 200px;
  object-fit: scale-down;
  /* cover -> IE 미지원 */
  display: inline-block;
}