h1 {
  text-align: center;
}

#empty-img {
  text-align: center;
}

#opt-btn-container {
  display: none;
  justify-content: center;
  align-items: center;
}

#opt-btn-container :nth-child(n){
  text-align: center;
  margin-left: 1vw;
}

#calendar {
  margin : 5px;
  margin: 0 auto;
  display: block;
}
/* --------------------------- */
/* #img-card {
  display : flex;
  position: relative;
  margin: 10px;
  width: 250px;
  height: 200px;
  z-index: 1;
}

#init-space {
  width: 50px;
}

#moving-img img{
  position: absolute;
  left: 50px;
  width: 200px;
  height: 200px;
  z-index: 2;
  object-fit: scale-down;
}

#moving-img:hover img{
  left: 0px;
}

#hidden-space{
  position: absolute;
  left: 200px;
  width: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#hidden-space div{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

#hidden-space div i:hover{
  color: red;
} */