h1 {
  text-align: center;
}

#empty-img {
  text-align: center;
}

#opt-btn-container {
  display: none;
  justify-content: center;
  align-items: center;
}

#opt-btn-container :nth-child(n){
  text-align: center;
  margin-left: 1vw;
}

#calendar {
  margin : 5px;
  margin: 0 auto;
  display: block;
}
/* --------------------------- */
